<div class="row">

  <div class="col-sm-2">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
               <!--[checked]="matchAnything.canSpanAcrossLines"-->
               <!--(change)="matchAnything.canSpanAcrossLines = !matchAnything.canSpanAcrossLines">-->
        Match anything except specified text
      </label>
    </div>
  </div>

  <div class="col-sm-9">

    <div class="form-group">

      <input type="text" class="form-control" placeholder="Literal text to match...">

    </div>

  </div>

  <div class="col-sm-1">

    <button class="btn"><i class="fa fa-plus"></i></button>

  </div>

</div>
