<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>VAT numbers</strong></h4>
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.austria"
                   (change)="vatNumber.austria = !vatNumber.austria">
            AT Austria
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.estonia"
                   (change)="vatNumber.estonia = !vatNumber.estonia">
            EE Estonia
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.hungary"
                   (change)="vatNumber.hungary = !vatNumber.hungary">
            HU Hungary
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.netherlands"
                   (change)="vatNumber.netherlands = !vatNumber.netherlands">
            NL Netherlands
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.belgium"
                   (change)="vatNumber.belgium = !vatNumber.belgium">
            BE Belgium
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.greece"
                   (change)="vatNumber.greece = !vatNumber.greece">
            EL Greece
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.ireland"
                   (change)="vatNumber.ireland = !vatNumber.ireland">
            IE Ireland
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.poland"
                   (change)="vatNumber.poland = !vatNumber.poland">
            PL Poland
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.bulgaria"
                   (change)="vatNumber.bulgaria = !vatNumber.bulgaria">
            BG Bulgaria
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.spain"
                   (change)="vatNumber.spain = !vatNumber.spain">
            ES Spain
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.italy"
                   (change)="vatNumber.italy = !vatNumber.italy">
            IT Italy
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.portugal"
                   (change)="vatNumber.portugal = !vatNumber.portugal">
            PT Portugal
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.cyprus"
                   (change)="vatNumber.cyprus = !vatNumber.cyprus">
            CY Cyprus
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.finland"
                   (change)="vatNumber.finland = !vatNumber.finland">
            FI Finland
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.lithuania"
                   (change)="vatNumber.lithuania = !vatNumber.lithuania">
            LT Lithuania
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.romania"
                   (change)="vatNumber.romania = !vatNumber.romania">
            RO Romania
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.czechRepublic"
                   (change)="vatNumber.czechRepublic = !vatNumber.czechRepublic">
            CZ Czech Republic
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.france"
                   (change)="vatNumber.france = !vatNumber.france">
            FR France
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.luxembourg"
                   (change)="vatNumber.luxembourg = !vatNumber.luxembourg">
            LU Luxembourg
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.southAfrica"
                   (change)="vatNumber.southAfrica = !vatNumber.southAfrica">
            South Africa
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.germany"
                   (change)="vatNumber.germany = !vatNumber.germany">
            DE Germany
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.unitedKingdom"
                   (change)="vatNumber.unitedKingdom = !vatNumber.unitedKingdom">
            GB United Kingdom
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.latvia"
                   (change)="vatNumber.latvia = !vatNumber.latvia">
            LV Latvia
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.sweden"
                   (change)="vatNumber.sweden = !vatNumber.sweden">
            SE Sweden
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.denmark"
                   (change)="vatNumber.denmark = !vatNumber.denmark">
            DK Denmark
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.croatia"
                   (change)="vatNumber.croatia = !vatNumber.croatia">
            HR Croatia
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.malta"
                   (change)="vatNumber.malta = !vatNumber.malta">
            MT Malta
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.slovenia"
                   (change)="vatNumber.slovenia = !vatNumber.slovenia">
            SI Slovenia
          </label>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="vatNumber.slovakia"
                   (change)="vatNumber.slovakia = !vatNumber.slovakia">
            SK Slovakia
          </label>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="selectAll"
                   (change)="checkedSelectAll()">
            Select all
          </label>
        </div>
      </div>

    </div>

    <div class="row move-down">

      <div class="col-sm-6">
        <label for="country-code">Country code:</label>
        <select id="country-code" class="form-control">
          <option>No country code</option>
        </select>
      </div>

      <div class="col-sm-6">
        <label for="grouping-characters">Grouping characters:</label>
        <select id="grouping-characters" class="form-control">
          <option>Space and dot</option>
        </select>
      </div>

    </div>

  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="text-center"><strong>General regular expression information</strong></h4>
    </div>
    <div class="card-body">
      <div class="row pad-down">

        <div class="col-sm-4">

          <div class="form-group">
            <label for="begin-regex-at">Start regex match at:</label>
            <select id="begin-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.startRegexMatchAt">
              <option>Anywhere</option>
              <option>Start of text</option>
              <option>Start of line</option>
              <option>Start of word</option>
              <option>Start of attempt</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">

          <div class="form-group">
            <label for="end-regex-at">End regex match at:</label>
            <select id="end-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.endRegexMatchAt">
              <option>Anywhere</option>
              <option>End of text</option>
              <option>End of line</option>
              <option>End of word</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">

          <div class="form-group">
            <label for="what-standard">Target language:</label>
            <select id="what-standard" class="form-control" [(ngModel)]="generalRegexInfo.regexTarget">
              <option>Java</option>
              <option>Perl</option>
              <option>POSIX</option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-block btn-primary" (click)="generateRegex()">Generate Regex</button>
    </div>
  </div>


  <div *ngIf="generatedRegex !== undefined">

    <br />
    <br />

    <div class="row">
      <div class="col">
        <label for="regex"><strong>Your {{generalRegexInfo.regexTarget}} regular expression</strong></label>
      </div>
    </div>

    <div class="row">

      <div class="col">

        <div class="input-group">
          <input type="text" class="form-control" id="regex" [(ngModel)]="generatedRegex">
          <span class="input-group-btn">
        <button class="btn btn-default" ngxClipboard [cbContent]="generatedRegex" (click)="clickCopyToClipboard()"
                data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard"
                type="button"><i class="fa fa-clipboard"></i>
        </button>
        </span>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="generatedRegex" class="pad-down">

    <br />
    <br />

    <div *ngIf="generalRegexInfo.regexTarget === 'Java'">
      <app-java-code-samples [regex]="generatedRegex"></app-java-code-samples>
    </div>
    <div *ngIf="generalRegexInfo.regexTarget === 'Perl'">
      <app-perl-code-samples [regex]="generatedRegex"></app-perl-code-samples>
    </div>

  </div>


</div>
