<div class="row">

  <div class="col">

    <div class="form-group">
      <label for="individual-characters">Individual characters (optional):</label>
      <input type="text" class="form-control" [(ngModel)]="basicCharacters.individualCharacters"
             id="individual-characters" placeholder="Add characters that should also be matched...">
    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="basicCharacters.caseInsensitive"
             (change)="basicCharacters.caseInsensitive = !basicCharacters.caseInsensitive">
      <label class="form-check-label">
        Case insensitive
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="basicCharacters.lowerCaseLetters"
             (change)="basicCharacters.lowerCaseLetters = !basicCharacters.lowerCaseLetters">
      <label class="form-check-label">
        Lowercase letters
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="basicCharacters.upperCaseLetters"
             (change)="basicCharacters.upperCaseLetters = !basicCharacters.upperCaseLetters">
      <label class="form-check-label">
        Uppercase letters
      </label>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="basicCharacters.digits"
             (change)="basicCharacters.digits = !basicCharacters.digits">
      <label class="form-check-label">
        Digits
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="basicCharacters.punctuationAndSymbols"
             (change)="basicCharacters.punctuationAndSymbols = !basicCharacters.punctuationAndSymbols">
      <label class="form-check-label">
        Punctuation and symbols
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="basicCharacters.matchAllExceptSpecified"
             (change)="basicCharacters.matchAllExceptSpecified = !basicCharacters.matchAllExceptSpecified">
      <label class="form-check-label">
        Match everything except specified text
      </label>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="basicCharacters.whiteSpace"
             (change)="basicCharacters.whiteSpace = !basicCharacters.whiteSpace">
      <label class="form-check-label">
        Whitespace
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="basicCharacters.lineBreaks"
             (change)="basicCharacters.lineBreaks = !basicCharacters.lineBreaks">
      <label class="form-check-label">
        Line breaks
      </label>
    </div>
  </div>

</div>
