<br />

<div *ngIf="isReading">
  <div class="row">
    <div class="col-sm-12">
      <p class="text">You will play the role as the <i>Oracle</i> (Minimally Adequate Teacher).
        You know of a regular language <ng-katex [equation]="'\\mathcal{L}'"></ng-katex> and
        will assist the learner L*, whom is trying to learn <ng-katex [equation]="'\\mathcal{L}'"></ng-katex>.
        L* will ask you two types of queries:
      </p>

    </div>
  </div>

  <dl class="row list">
    <dt class="col-sm-3">Membership queries (MQs)</dt>
    <dd class="col-sm-9">
      L* will ask you whether a given string <ng-katex [equation]="'w \\in \\Sigma^*'"></ng-katex>
      is in the target language <ng-katex [equation]="'\\mathcal{L}'"></ng-katex>.
    </dd>

    <dt class="col-sm-3">Equivalence queries (EQ)</dt>
    <dd class="col-sm-9">
      <p>
        L* will propose to to you some hypothesis, i.e. a DFA <ng-katex [equation]="'\\mathcal{A}'"></ng-katex>
        describing some language.
      </p>
      <p>
        If <ng-katex [equation]="'L(\\mathcal{A}) = \\mathcal{L}'"></ng-katex>, i.e. the
        DFA <ng-katex [equation]="'\\mathcal{A}'"></ng-katex> proposed by L* correctly describes
        <ng-katex [equation]="'\\mathcal{L}'"></ng-katex>, then the algorithm converges.
        If <ng-katex [equation]="'L(\\mathcal{A}) \\neq \\mathcal{L}'"></ng-katex>, then you
        have to submit a counter-example <ng-katex [equation]="'w \\in \\Sigma^*'"></ng-katex>,
        where <ng-katex [equation]="'w'"></ng-katex> is a string that does not belong in the
        target language <ng-katex [equation]="'\\mathcal{L}'"></ng-katex>, but is currently
        accepted by the hypothesis <ng-katex [equation]="'\\mathcal{A}'"></ng-katex>.
      </p>

    </dd>
  </dl>

  <div class="row">
    <div class="col-sm-12">
      <p class="text">When you click <small>START</small>, the interactive learning process will begin.
        Before L* starts making queries you will first have to specify what the alphabet
        <ng-katex [equation]="'\\Sigma'"></ng-katex> of the target language
        <ng-katex [equation]="'\\mathcal{L}'"></ng-katex> is. You can also provide optional positive
        example strings, i.e. strings that belong in the target language, this will speed up the learning
        process, since L* will have less membership queries to make.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-lg btn-primary" (click)="finishedInfoRead()">
        START
      </button>
      <br />
      <br />
    </div>
  </div>

</div>

<div *ngIf="providingInfo">

  <div class="row">
    <div class="col-sm-12">
      <p class="text">
        Please provide us with the alphabet <ng-katex [equation]="'\\Sigma'"></ng-katex>
        of the regular language <ng-katex [equation]="'\\mathcal{L}'"></ng-katex>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <label for="alphabet"><ng-katex [equation]="'\\Sigma'"></ng-katex> =</label>
      <input type="text" class="form-control" [(ngModel)]="alphabet"
             placeholder="Characters in the alphabet (e.g. 'abc')" id="alphabet">

      <small class="text-danger" *ngIf="provideInfoErr">
        The alphabet has to contain atleast one symbol!
      </small>

    </div>
  </div>

  <div class="row move-down-3">
    <div class="col-sm-12">
      <p class="text">
        Optionally you can also provide us with some positive example strings, i.e. strings
        that belong in the target language <ng-katex [equation]="'\\mathcal{L}'"></ng-katex>.
      </p>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">

      <textarea [(ngModel)]="positiveExamples" class="form-control"
                rows="8" placeholder="Positive example strings separated by newlines...">
              </textarea>
      <div class="move-down">
        <label class="btn btn-outline-primary" for="positive-examples">
          <input id="positive-examples" type="file"
                 (change)="fileChange($event)"
                 style="display:none;" accept=".txt">
          <i class="fa fa-upload"></i> Upload file
        </label>
      </div>

    </div>

  </div>

  <div class="row move-down">
    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-lg btn-primary" (click)="startLearning()">
        START LEARNING
      </button>
      <br />
      <br />
    </div>
  </div>

</div>

<div *ngIf="isInferring">

  <div *ngIf="state === 'start' || state === 'mq' || state === 'equivalenceQueries'">
    <div class="row">
      <div class="col-sm-12">
        <p class="text">
          Please answer the following Membership queries (MQs). If the string
          <ng-katex [equation]="'w \\in \\mathcal{L}'"></ng-katex>, then tick the
          checkbox, if <ng-katex [equation]="'w \\notin \\mathcal{L}'"></ng-katex>,
          then leave the checkbox unticked.
        </p>
      </div>
    </div>

    <div *ngFor="let _ of membershipQueries; let i = index">

      <div *ngIf="i % 3 === 0" class="row">

        <div class="col-sm-4">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value=""
                     [checked]="membershipAnswers[membershipQueries[i]]"
                     (change)="membershipAnswers[membershipQueries[i]] = !membershipAnswers[membershipQueries[i]]">
              <div *ngIf="membershipQueries[i] === ''"><ng-katex [equation]="'\\varepsilon'"></ng-katex></div>
              <div *ngIf="membershipQueries[i] !== ''">{{ membershipQueries[i] }}</div>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div *ngIf="i + 1 < membershipQueries.length" class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value=""
                     [checked]="membershipAnswers[membershipQueries[i + 1]]"
                     (change)="membershipAnswers[membershipQueries[i + 1]] = !membershipAnswers[membershipQueries[i + 1]]">
              <div *ngIf="membershipQueries[i + 1] === ''"><ng-katex [equation]="'\\varepsilon'"></ng-katex></div>
              <div *ngIf="membershipQueries[i + 1] !== ''">{{ membershipQueries[i + 1] }}</div>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div *ngIf="i + 2 < membershipQueries.length" class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value=""
                     [checked]="membershipAnswers[membershipQueries[i + 2]]"
                     (change)="membershipAnswers[membershipQueries[i + 2]] = !membershipAnswers[membershipQueries[i + 2]]">
              <div *ngIf="membershipQueries[i + 2] === ''"><ng-katex [equation]="'\\varepsilon'"></ng-katex></div>
              <div *ngIf="membershipQueries[i + 2] !== ''">{{ membershipQueries[i + 2] }}</div>
            </label>
          </div>
        </div>

        <br />

      </div>

    </div>

    <div class="row move-down-2">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-lg btn-primary" (click)="submitMembershipQueries()">
          SUBMIT MQs
        </button>
        <br />
        <br />
      </div>
    </div>

  </div>

  <div [ngClass]="{'hide': state !== 'eq'}">

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="text-center"><strong>Hypothesis proposed by L*</strong></h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-center">
                <div id="dfa"></div>
              </div>
            </div>

            <br />

            <div *ngIf="!getEquivalenceQuery">
              <div class="row">
                <div class="col-sm-6 text-center">
                  <button type="button" class="btn btn-lg btn-primary">
                    CORRECT
                  </button>
                </div>
                <div class="col-sm-6 text-center">
                  <button type="button" class="btn btn-lg btn-primary" (click)="getEquivalenceQuery = true">
                    INCORRECT
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf="getEquivalenceQuery">
              <div class="row">
                <div class="col-sm-3"></div>

                <div class="col-sm-6">
                  <label for="counter-example">Equivalence query:</label>
                  <div class="input-group">
                    <input id="counter-example" type="text" class="form-control"
                           placeholder="Counterexample" [(ngModel)]="counterExample">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="submitEquivalenceQuery()">SUBMIT</button>
                  </span>
                  </div>

                </div>

                <div class="col-sm-3"></div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
