<div class="row">

  <div class="col" align="center">

    <h4>Examples of using the Regex in Perl</h4>

  </div>

</div>

<div class="row">

  <div class="col">

    <div class="form-group">
      <select class="form-control" [(ngModel)]="selectedExample" (ngModelChange)="changed()">
        <option *ngFor="let option of options">{{option}}</option>
      </select>
    </div>
  </div>

</div>


<div class="row">

  <div class="col">

    <div *ngIf="selectedExample !== undefined">
      <pre><code highlight [language]="['Perl']" [code]="this.examples[this.selectedExample]"></code></pre>
    </div>

  </div>

</div>
