<div class="row">

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.zero" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        0
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.one" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        1
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.two" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        2
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.three" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        3
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.four" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        4
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.five" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        5
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.six" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        6
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.seven" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        7
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.eight" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        8
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.nine" class="form-check-input" type="checkbox">
      <label class="form-check-label">
        9
      </label>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-sm-1">
    <div class="form-check">
      <input [(ngModel)]="numbers.minus.minus" (change)="ticked('minus')"
             class="form-check-input" type="checkbox">
      <label class="form-check-label">
        Minus
      </label>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="form-check">
      <input [(ngModel)]="numbers.minus.optional" (change)="ticked('optionalMinus')"
             class="form-check-input" type="checkbox">
      <label class="form-check-label">
        Optional Minus
      </label>
    </div>
  </div>

</div>
