<!--<div class="col-md-4">-->
<!--<div class="form-check">-->
<!--<input class="form-check-input" type="checkbox"-->
<!--[checked]="basicCharacters.lowerCaseLetters"-->
<!--(change)="basicCharacters.lowerCaseLetters = !basicCharacters.lowerCaseLetters">-->
<!--<label class="form-check-label">-->
<!--Lowercase letters-->
<!--</label>-->
<!--</div>-->
<!--</div>-->


<div class="row">

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        Minus
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        0
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        1
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        2
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        3
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        4
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        5
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        6
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        7
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        8
      </label>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="form-check">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        9
      </label>
    </div>
  </div>

</div>
