<div class="row">

  <div class="col-sm-6">
    <div class="form-group">
      <label for="min-value">Minimum value of integer part:</label>
      <input type="text" class="form-control" id="min-value" placeholder="">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="max-value">Maximum value of integer part:</label>
      <input type="text" class="form-control" id="max-value" placeholder="">
    </div>
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-6">
    <label for="decimal-separator">Decimal separator:</label>
    <select id="decimal-separator" class="form-control">
      <option>Any</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label for="min-nr-of-decimals">Min. nr of decimals</label>
    <input id="min-nr-of-decimals" class="form-control" type="number">
  </div>

  <div class="col-sm-3">
    <label for="max-nr-of-decimals">Max. nr of decimals</label>
    <input id="max-nr-of-decimals" class="form-control" type="number">
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-6">
    <label for="thousand-separator">Thousand separator:</label>
    <select id="thousand-separator" class="form-control">
      <option>None</option>
    </select>
  </div>

  <div class="col-sm-6">
    <label for="code-position">Currency sign/code position:</label>
    <select id="code-position" class="form-control">
      <option>Before only</option>
    </select>
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-6">
    <label for="currency-sign">Currency sign:</label>
    <select id="currency-sign" class="form-control">
      <option>None</option>
    </select>
  </div>

  <div class="col-sm-6">
    <label for="currency-codes">Currency codes:</label>
    <select id="currency-codes" class="form-control">
    </select>
  </div>

</div>

<div class="row move-down-2">

  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Limit integer part
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Allow plus sign
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Allow minus sign
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Allow parentheses
      </label>
    </div>
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Sign is required
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Whitespace allowed after sign
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Thousand separators are required
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Allow leading zeros
      </label>
    </div>
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Require integer part
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Allow exponent
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        Currency sign or code required
      </label>
    </div>
  </div>

</div>
