<br />
<br />
<br />


<div class="container">


  <div class="card">

    <div class="card-header">
      <div class="row">
        <div class="col-sm-11">
          <h4 class="text-center"><strong>Alternation information</strong></h4>
        </div>
        <div class="col-sm-1">
          <button type="button" disabled
                  class="btn btn-sm btn-primary float-right disabled-button"
                  data-toggle="tooltip" data-placement="top"
                  title="Drag markers to show alternating groups of markers!">
            <i class="fa fa-info" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body">


      <div class="row">

        <div dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']">

          <ul class="list-group-horizontal">

            <li class="list-group-item"
                *ngFor="let container of containers; let i = index"
                dnd-sortable [sortableIndex]="i" [dragEnabled]="false">

              <div dnd-sortable-container [sortableData]="container.markers" [dropZones]="['marker-dropZone']">

                <p *ngIf="containers[i].markers.length === 0"
                   type="button"
                   class="btn dummy-marker">
                  1
                </p>

                <p *ngFor="let marker of container.markers; let x = index"
                   class="marker"
                   dnd-sortable [sortableIndex]="x" [dragEnabled]="true" [dragData]="marker">
                  {{ marker.id }}
                </p>


              </div>

            </li>

          </ul>

        </div>


      </div>

    </div>


  </div>

</div>

