<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Regy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/tutorial" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-info"></i> Tutorial
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/generate" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-cog"></i> Generate Regex
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/register" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-user-plus"></i> Login/Register
        </a>
      </li>
    </ul>

  </div>
</nav>

<div class="container" style="background-color: white">
  <router-outlet></router-outlet>
</div>
