<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="container">

    <a href="#" class="navbar-brand">reggy</a>
    <!-- <a href="#" class="navbar-brand"><img src="../assets/logo2.png" width="150" height="30" alt=""></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link route" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
             HOME
          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/tutorial" class="nav-link route" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            TUTORIAL
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle route" data-toggle="dropdown" href="#" id="themes">GENERATE REGEX<span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a routerLink="/generate/samples" class="dropdown-item">
              via samples and semantics
            </a>
            <div class="dropdown-divider"></div>
            <a routerLink="/generate/common" class="dropdown-item">
              via common use cases
            </a>
            <a routerLink="/generate/inference" class="dropdown-item">
              via grammatical inference
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link route" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            CONTACT US
          </a>
        </li>
      </ul>

    </div>

  </div>

</nav>

<router-outlet></router-outlet>
