.btn-separator:after {
  content: ' ';
  display: block;
  float: left;
  background: #C0C0C0;
  margin: 0 5px;
  height: 34px;
  width: 1px;
}

.content {
  padding-top: 5px;
}

.text-area {
  padding-top: 5px;
}

.field-specific {
  padding-top: 10px;
}

.pad-upload-btn {
  padding-top: 5px;
}

.info-pad {
  padding-top: 20px;
}

.right-allign {
  float: right;
}

.pad-down {
  padding-top: 20px;
}

.pad-right {
  padding-left: 5px;
}

.marker-tab {
  border-bottom: 1px solid #DDD;
  outline-color: transparent;
}

.marker-tab:hover, .marker-tab:focus, .marker-tab:active {
  border-bottom: 3px solid #18BC9C;
}

.selected-tab {
  border-bottom: 3px solid #18BC9C;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
}

.nav-tabs { border-bottom: none; }

.background-col {
  background-color: white;
}

.select-repeat-info {
  font-family: 'FontAwesome', Arial;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
  border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
  border-right-width: 1px;
}

.marker {
  float:left;
  width:auto;
  height:36px;
  display:block;
  line-height:30px;
  text-align:center;
  padding:0 12px;
  border-radius:3px;
}

.marker:hover {
  cursor:pointer;
}

.dummy-marker {
  visibility: hidden;
}
