
.dropdown-items {
  padding-left: 5px;
}

input[readonly] {
  background-color: white;
}

.move-down {
  padding-top: 10px;
}
.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}
