<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>Username</strong></h4>
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" [placeholder]="shouldStartWithMsg" readonly>
          <div class="input-group-btn">
            <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
              <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
              <li *ngFor="let item of shouldStartWithData" (click)="shouldStartWithChange(item)"><a>
                <div class="form-check">
                  <label class="form-check-label dropdown-items">
                    <input type="radio" name="should-contain" class="form-check-input">
                    {{item}}
                  </label>
                </div>
              </a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" [placeholder]="shouldContainMsg" readonly>
          <div class="input-group-btn">
            <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
              <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
              <li *ngFor="let item of shouldContainData" (click)="addToShouldContain($event, item)"><a>
                <div class="form-check">
                  <label class="form-check-label dropdown-items">
                    <input type="checkbox" class="form-check-input">
                    {{item}}
                  </label>
                </div>
              </a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6" *ngIf="!shouldStartWithIsValid">
        <small class="text-danger">Please select a field!</small>
      </div>

    </div>

    <div class="row move-down">

      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" [placeholder]="minimumLengthMsg" readonly>
          <div class="input-group-btn">
            <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
              <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
              <li *ngFor="let item of minimumLengthData" (click)="changeMinData(item)"><a>
                <div class="form-check">
                  <label class="form-check-label dropdown-items">
                    <input type="radio" name="min-length" class="form-check-input">
                    {{item}}
                  </label>
                </div>
              </a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" [placeholder]="maximumLengthMsg" readonly>
          <div class="input-group-btn">
            <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
              <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu">
              <li *ngFor="let item of maximumLengthData" (click)="changeMaxData(item)"><a>
                <div class="form-check">
                  <label class="form-check-label dropdown-items">
                    <input type="radio" name="min-length" class="form-check-input">
                    {{item}}
                  </label>
                </div>
              </a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6">
        <small class="text-danger" *ngIf="!minLengthIsValid">Please select or input a valid minimum length!</small>
        <small class="text-danger" *ngIf="!minRangeIsLess">The minimum length should be less than the maximum length!</small>
      </div>

      <div class="col-sm-6">
        <small class="text-danger" *ngIf="!maxLengthIsValid">Please select or input a valid maximum length!</small>
        <small class="text-danger" *ngIf="!minRangeIsLess">The maximum length should be more than the minimum length!</small>
      </div>

    </div>

    <div class="row" *ngIf="username.minimumLength !== undefined && username.maximumLength !== undefined">

      <div class="col-md-6">
        <input [(ngModel)]="username.minimumLength" *ngIf="minLengthIsCustom" (change)="minCustomChange()"
               type="number" class="form-control"
               [ngClass]="{
                  'is-valid'  : minRangeIsValid(),
                  'is-invalid': !minRangeIsValid()
               }"/>
      </div>

      <div class="col-md-6">
        <input [(ngModel)]="username.maximumLength" *ngIf="maxLengthIsCustom" (change)="maxCustomChange()"
               type="number" class="form-control"
               [ngClass]="{
                  'is-valid'  : maxRangeIsValid(),
                  'is-invalid': !maxRangeIsValid()
               }"/>
      </div>

    </div>

  </div>

</div>


<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>General regular expression information</strong></h4>
  </div>
  <div class="card-body">
    <div class="row pad-down">

      <div class="col-sm-4">

        <div class="form-group">
          <label for="begin-regex-at">Start regex match at:</label>
          <select id="begin-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.startRegexMatchAt">
            <option>Anywhere</option>
            <option>Start of text</option>
            <option>Start of line</option>
            <option>Start of word</option>
            <option>Start of attempt</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">

        <div class="form-group">
          <label for="end-regex-at">End regex match at:</label>
          <select id="end-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.endRegexMatchAt">
            <option>Anywhere</option>
            <option>End of text</option>
            <option>End of line</option>
            <option>End of word</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">

        <div class="form-group">
          <label for="what-standard">Target language:</label>
          <select id="what-standard" class="form-control" [(ngModel)]="generalRegexInfo.regexTarget">
            <option>Java</option>
            <option>Perl</option>
            <option>POSIX</option>
            <option>Python</option>
            <option>JavaScript</option>
            <option>PHP</option>
          </select>
        </div>
      </div>

    </div>
  </div>
</div>


<br />

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-block btn-primary" (click)="generateRegex()">Generate Regex</button>
  </div>
</div>

<div *ngIf="generatedRegex === undefined">
  <br />
</div>

<div *ngIf="isLoading">
  <br />

  <div class="row">
    <div class="col-sm-12 text-center">
      <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
  </div>

  <br />
</div>

<div *ngIf="generatedRegex !== undefined">

  <br />
  <br />

  <div class="row">
    <div class="col">
      <label for="regex"><strong>Your {{ generalRegexInfo.regexTarget }} regular expression</strong></label>
    </div>
  </div>

  <div class="row">

    <div class="col">

      <div class="input-group">
        <input type="text" class="form-control" id="regex" [(ngModel)]="generatedRegex.compiledRegex">
        <span class="input-group-btn">
        <button class="btn btn-default" ngxClipboard [cbContent]="generatedRegex.compiledRegex" (click)="clickCopyToClipboard()"
                data-toggle="tooltip" data-placemgeneratedRegexent="bottom" title="Copy to clipboard"
                type="button"><i class="fa fa-clipboard"></i>
        </button>
        </span>
      </div>

    </div>

  </div>

</div>

<div *ngIf="generatedRegex" class="pad-down">

  <br />
  <br />

  <div *ngIf="generalRegexInfo.regexTarget === 'Java'">
    <app-java-code-samples [generatedRegex]="generatedRegex"></app-java-code-samples>
  </div>
  <div *ngIf="generalRegexInfo.regexTarget === 'Perl'">
    <app-perl-code-samples [generatedRegex]="generatedRegex"></app-perl-code-samples>
  </div>

</div>
