<app-toast [message]="toast.message"></app-toast>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
        <h3 class="section-subheading text-muted">Please contact us about any complaints/suggestions/contributions.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form novalidate="novalidate">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Your Name" required>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Your Email" required>
                <p class="help-block text-danger"></p>
              </div>

              <label for="cateogry" id="label-category">CATEGORY:</label>
              <select id="cateogry" class="form-control">
                <option>Assistance</option>
                <option>Contribution</option>
                <option>Suggestion</option>
                <option>Other</option>
              </select>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" placeholder="Your Message *" required></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button class="btn btn-secondary btn-xl text-uppercase" type="submit" (click)="submit()">
                <i class="fa fa-paper-plane"></i> SUBMIT
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="py-5 bg-grey">

  <div class="container">
    <p class="m-0 text-center">&copy; {{ getYear() }}, Steyn van Litsenborgh</p>
  </div>

</footer>
