
.dropdown-items {
  padding-left: 5px;
}

.move-down {
  padding-top: 10px;
}
.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}

input[readonly] {
  background-color: white;
}

li {
  display: block;
}

.item {
  color: #000000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

:-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}
