<div class="row">

  <div class="col-md-6">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="literalText.caseInsensitive"
             (change)="literalText.caseInsensitive = !literalText.caseInsensitive">
      <label class="form-check-label">
        Case insensitive
      </label>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-check">
      <input class="form-check-input" type="checkbox"
             [checked]="literalText.matchAllExceptSpecified"
             (change)="literalText.matchAllExceptSpecified = !literalText.matchAllExceptSpecified">
      <label class="form-check-label">
        Match anything except specified text
      </label>
    </div>
  </div>

</div>

<div class="row move-down">

  <div class="col">

    <p><em><strong>Possible matches: </strong></em>{{possibleMatches | markedTextToView}}</p>

  </div>

</div>
