<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>Uniform Resource Locator (URL)</strong></h4>
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col-sm-4">

        <label for="schemes">Schemes:</label>
        <select id="schemes" class="form-control" [(ngModel)]="url.schemes">
          <option>http</option>
          <option>https</option>
          <option>http;https</option>
          <option>http;https;www.</option>
          <option>ftp</option>
          <option>ftp;ftp.</option>
          <option>ftp;http</option>
          <option>ftp;http;ftp.;www.</option>
          <option>file</option>
          <option>file;http;https</option>
          <option>file;http;https;www.</option>
          <option>file;ftp</option>
          <option>file;ftp;http;https</option>
          <option>file;ftp;http;https;ftp.;www.</option>
          <option>feed</option>
          <option>feed;http;https</option>
          <option>feed;http;https;www.</option>
          <option>news;nntp</option>
          <option>news;nntp;news.</option>
          <option>dns</option>
          <option>ldap</option>
          <option>nfs</option>
          <option>pop</option>
          <option>rtsp</option>
          <option>snmp</option>
        </select>

      </div>

      <div class="col-sm-4">

        <label for="port-numbers">Port numbers:</label>
        <select id="port-numbers" class="form-control" [(ngModel)]="url.portNumbers">
          <option>No port number</option>
          <option>Optional port number</option>
          <option>Require port number</option>
          <option>Specify optional port numbers</option>
          <option>Specify required port numbers</option>
          <option></option>
        </select>

      </div>

      <div class="col-sm-4">

        <label for="user-names">User names:</label>
        <select id="user-names" class="form-control" [(ngModel)]="url.username">
          <option>No user names</option>
          <option>Allow any user name</option>
          <option>Safe characters only [A-Za-z0-9$_.+!*'(),-]</option>
          <option>Basic characters only [A-Za-z0-9._-]</option>
          <option>Specific user names only</option>
        </select>

      </div>

    </div>

    <div class="row" *ngIf="url.username === 'Specific user names only'
        || url.portNumbers === 'Specify optional port numbers'
        || url.portNumbers === 'Specify required port numbers'">

      <div class="col-sm-4"></div>

      <div class="col-sm-4" *ngIf="url.portNumbers === 'Specify optional port numbers'">
        <input type="text" class="form-control" placeholder="Optional port number(s)..."
               [(ngModel)]="url.specOptionalPortNumbers">
      </div>

      <div class="col-sm-4" *ngIf="url.portNumbers === 'Specify required port numbers'">
        <input type="text" class="form-control" placeholder="Required port number(s)..."
               [(ngModel)]="url.specRequiredPortNumbers">
      </div>

      <div class="col-sm-4"
           *ngIf="url.portNumbers !== 'Specify required port numbers'
           && url.portNumbers !== 'Specify optional port numbers'">
      </div>

      <div class="col-sm-4" *ngIf="url.username === 'Specific user names only'">
        <input type="text" class="form-control" placeholder="Specific username(s)..."
               [(ngModel)]="url.specUserNames">
      </div>

    </div>

    <div class="row move-down">

      <div class="col-sm-4">

        <label for="password">Password:</label>
        <select id="password" class="form-control" [(ngModel)]="url.password" [disabled]="url.username === 'No user names'">
          <option>No password</option>
          <option>Optional password</option>
          <option>Require password</option>
        </select>

      </div>

      <div class="col-sm-4">

        <label for="domain-name">Domain name:</label>
        <select id="domain-name" class="form-control" [(ngModel)]="url.domainName">
          <option>Allow any domain name</option>
          <option>Any domain on specific TLDs</option>
          <option>Any subdomain on specific domains</option>
          <option>Specific domains only</option>
        </select>

      </div>

      <div class="col-sm-4">

        <label for="folders">Folders:</label>
        <select id="folders" class="form-control" [(ngModel)]="url.folders" [disabled]="url.fileNames !== 'No file names'">
          <option>No folders</option>
          <option>Allow any path</option>
          <option>Safe URL characters only [A-Za-z0-9$_.+!*'(),-]</option>
          <option>Safe folder characters only [A-Za-z0-9$_+!'(),-]</option>
          <option>Basic characters only [A-Za-z0-9._-]</option>
          <option>Basic folder characters only [A-Za-z0-9_-]</option>
          <option>Specific folders only</option>
          <option>Specific paths only</option>
        </select>

      </div>

    </div>

    <div class="row move-down">

      <div class="col-sm-4">
        <label for="file-names">File names:</label>
        <select id="file-names" class="form-control" [(ngModel)]="url.fileNames" [disabled]="url.folders !== 'No folders'">
          <option>No file names</option>
          <option>Allow any file name</option>
          <option>Safe characters only [A-Za-z0-9$_.+!*'(),-]</option>
          <option>Basic characters only [A-Za-z0-9._-]</option>
          <option>Specific extensions only</option>
          <option>Specific file names only</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label for="parameters">Parameters:</label>
        <select id="parameters" class="form-control" [(ngModel)]="url.parameters">
          <option>No parameters</option>
          <option>Allow any parameters</option>
          <option>Safe characters only [A-Za-z0-9$_.+!*'(),-]</option>
          <option>Basic characters only [A-Za-z0-9._-]</option>
          <option>Specific parameters only</option>
        </select>
      </div>

    </div>

  </div>

</div>

<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>General regular expression information</strong></h4>
  </div>
  <div class="card-body">
    <div class="row pad-down">

      <div class="col-sm-4">

        <div class="form-group">
          <label for="begin-regex-at">Start regex match at:</label>
          <select id="begin-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.startRegexMatchAt">
            <option>Anywhere</option>
            <option>Start of text</option>
            <option>Start of line</option>
            <option>Start of word</option>
            <option>Start of attempt</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">

        <div class="form-group">
          <label for="end-regex-at">End regex match at:</label>
          <select id="end-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.endRegexMatchAt">
            <option>Anywhere</option>
            <option>End of text</option>
            <option>End of line</option>
            <option>End of word</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">

        <div class="form-group">
          <label for="what-standard">Target language:</label>
          <select id="what-standard" class="form-control" [(ngModel)]="generalRegexInfo.regexTarget">
            <option>Java</option>
            <option>Perl</option>
            <option>POSIX</option>
          </select>
        </div>
      </div>

    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-block btn-primary" (click)="generateRegex()">Generate Regex</button>
  </div>
</div>


<div *ngIf="generatedRegex !== undefined">

  <br />
  <br />

  <div class="row">
    <div class="col">
      <label for="regex"><strong>Your {{generalRegexInfo.regexTarget}} regular expression</strong></label>
    </div>
  </div>

  <div class="row">

    <div class="col">

      <div class="input-group">
        <input type="text" class="form-control" id="regex" [(ngModel)]="generatedRegex">
        <span class="input-group-btn">
        <button class="btn btn-default" ngxClipboard [cbContent]="generatedRegex" (click)="clickCopyToClipboard()"
                data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard"
                type="button"><i class="fa fa-clipboard"></i>
        </button>
        </span>
      </div>

    </div>

  </div>

</div>

<div *ngIf="generatedRegex" class="pad-down">

  <br />
  <br />

  <div *ngIf="generalRegexInfo.regexTarget === 'Java'">
    <app-java-code-samples [regex]="generatedRegex"></app-java-code-samples>
  </div>
  <div *ngIf="generalRegexInfo.regexTarget === 'Perl'">
    <app-perl-code-samples [regex]="generatedRegex"></app-perl-code-samples>
  </div>

</div>
