
.dropdown-items {
  padding-left: 5px;
}

.move-down {
  padding-top: 10px;
}

.move-down-2 {
  padding-top: 15px;
}

.move-down-3 {
  padding-top: 22px;
}

.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}

input[readonly] {
  background-color: white;
}

li {
  display: block;
}

.move-up {
  padding-bottom: 10px;
}
