<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>Date and time</strong></h4>
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col-sm-6">

        <label for="date-separators">Date separators:</label>
        <select id="date-separators" class="form-control"
                [(ngModel)]="dateAndTime.dateSeparator">
          <option>Forward slash</option>
          <option>Hyphen</option>
          <option>Dot</option>
          <option>Slash, hyphen or dot</option>
        </select>

      </div>
      <div class="col-sm-6">

        <label for="time-separators">Time separators:</label>
        <select id="time-separators" class="form-control"
                [(ngModel)]="dateAndTime.timeSeparator">
          <option>Colon</option>
          <option>Dot</option>
          <option>Colon or dot</option>
        </select>

      </div>

    </div>

    <div class="row move-down">

      <div class="col-sm-6">

        <label for="am-pm-indicators">AM/PM indicators:</label>
        <select id="am-pm-indicators" class="form-control"
                [(ngModel)]="dateAndTime.amPmIndicator">
          <option>AM</option>
          <option>PM</option>
          <option>AM/PM</option>
        </select>

      </div>

      <div class="col-sm-6">

        <label for="leading-zeros">Leading zeros:</label>
        <select id="leading-zeros" class="form-control"
                [(ngModel)]="dateAndTime.leadingZeros">
          <option>No leading zeros allowed</option>
          <option>Optional leading zeros</option>
          <option>Leading zeros required</option>
        </select>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-11 move-down-3">
        <h6 align="left"><strong>Allowed date and time formats:</strong></h6>
      </div>

      <div class="col-sm-1 move-down-2">
        <div class="text-right">
          <button class="btn btn-sm btn-primary"
                  data-toggle="tooltip" data-placement="top"
                  title="Click for help!" (click)="showInfo = !showInfo">
            <i class="fa fa-info" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="row move-up">

      <div class="col-sm-12">

        <textarea class="form-control" rows="4"
                  placeholder="Specify date and format(s)..."
                  [(ngModel)]="dateAndTime.dateFormats"
                  [ngClass]="{
                    'is-invalid': !isValidInfo && dateAndTime.dateFormats.trim() === ''
                    }">
        </textarea>
        <small class="text-danger" *ngIf="errorMsg">
            {{ errorMsg }}
        </small>

      </div>

    </div>

    <div class="row" *ngIf="showInfo">

      <div class="col-sm-12">

        <p>
          In the above textbox you have to specify the date and/or time format patterns that this field
          can use. If you want to specify multiple patterns, separate then with line breaks. The following
          characters have a special meaning in the date and time formats:
        </p>


        <dl>
          <dt>d -</dt>
          <dd>Day of the month, a number between 1 and 31</dd>

          <dt>m -</dt>
          <dd>Month number, a number between 1 and 12</dd>

          <dt>y -</dt>
          <dd>2-digit year, a number between 00 and 99</dd>

          <dt>Y -</dt>
          <dd>4-digit year, a number between 0000 and 9999</dd>

          <dt>/ -</dt>
          <dd>Date separator, one of the characters in the &ldquo;Date separators&rdquo; dropdown</dd>

          <dt>h -</dt>
          <dd>Hour on a 12-hour clock, a number between 1 and 12</dd>

          <dt>H -</dt>
          <dd>Hour on a 24-hour clock, a number between 0 and 23</dd>

          <dt>n -</dt>
          <dd>Minutes, a number between 0 and 59</dd>

          <dt>s -</dt>
          <dd>Seconds, a number between 0 and 59</dd>

          <dt>a -</dt>
          <dd>AM/PM indicator, one of the options in the "AM/PM indicators" dropdown</dd>

          <dt>: -</dt>
          <dd>Time separator, one of the characters in the "Time separators" dropdown</dd>

      </dl>

      </div>

    </div>

    <div class="row" *ngIf="showInfo">

      <div class="col-sm-12">
        <p>An example of a regular expression to match the American date format is: <strong>m/d/Y</strong></p>
      </div>

    </div>

  </div>

</div>

<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>General regular expression information</strong></h4>
  </div>
  <div class="card-body">
    <div class="row pad-down">

      <div class="col-sm-4">

        <div class="form-group">
          <label for="begin-regex-at">Start regex match at:</label>
          <select id="begin-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.startRegexMatchAt">
            <option>Anywhere</option>
            <option>Start of text</option>
            <option>Start of line</option>
            <option>Start of word</option>
            <option>Start of attempt</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">

        <div class="form-group">
          <label for="end-regex-at">End regex match at:</label>
          <select id="end-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.endRegexMatchAt">
            <option>Anywhere</option>
            <option>End of text</option>
            <option>End of line</option>
            <option>End of word</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">

        <div class="form-group">
          <label for="what-standard">Target language:</label>
          <select id="what-standard" class="form-control" [(ngModel)]="generalRegexInfo.regexTarget">
            <option>Java</option>
            <option>Perl</option>
            <option>POSIX</option>
            <option>Python</option>
            <option>JavaScript</option>
            <option>PHP</option>
            <option>Golang</option>
            <option>Rust</option>
            <option>C#</option>
            <option>Scala</option>
            <option>Kotlin</option>
          </select>
        </div>
      </div>

    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-block btn-primary" (click)="generateRegex()">Generate Regex</button>
  </div>
</div>

<div *ngIf="generatedRegex === undefined">
  <br />
</div>

<div *ngIf="isLoading">
  <br />

  <div class="row">
    <div class="col-sm-12 text-center">
      <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
  </div>

  <br />
</div>

<div *ngIf="generatedRegex !== undefined">

  <br />

  <div class="row">
    <div class="col">
      <label for="regex"><strong>Your {{ generalRegexInfo.regexTarget }} regular expression</strong></label>
    </div>
  </div>

  <div class="row">

    <div class="col">

      <div class="input-group">
        <input type="text" class="form-control" id="regex" [(ngModel)]="generatedRegex.compiledRegex">
        <span class="input-group-btn">
        <button class="btn btn-default" ngxClipboard [cbContent]="generatedRegex.compiledRegex" (click)="clickCopyToClipboard()"
                data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard"
                type="button"><i class="fa fa-clipboard"></i>
        </button>
        </span>
      </div>

    </div>

  </div>

</div>

<div *ngIf="generatedRegex" class="pad-down">

  <br />
  <br />

  <div *ngIf="generalRegexInfo.regexTarget === 'Java'">
    <app-java-code-samples [generatedRegex]="generatedRegex"></app-java-code-samples>
  </div>
  <div *ngIf="generalRegexInfo.regexTarget === 'Perl'">
    <app-perl-code-samples [generatedRegex]="generatedRegex"></app-perl-code-samples>
  </div>

</div>
