<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--<h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1>-->
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">What is reggy?</h2>
      <p>Reggy is a regular expression generator that assists you with the construction of regular expressions.
         The generator consists of three components, each for a different use case.
         Reggy generates regular expressions for a wide variety of programming languages and strives to generate regular
         expressions that are as efficient and concise as possible.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" routerLink="/tutorial" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">TUTORIAL</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="mt-4">Contact Us</h2>
      <p>If you have any issues or enquiries with reggy, please feel free to contact us
         by following <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">this</a> link.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" height="200" width="300" src="../../assets/accusoft.svg" alt="">
        <div class="card-body">
          <h4 class="card-title">Samples and Semantics</h4>
          <p class="card-text">
            You provide this component with some samples of the text you want your regular expression to match.
            You then break the samples into smaller &ldquo;markers&rdquo; for which you specfiy the type of that substring
            and provide extra information such as repetition information, etc.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn nav-link btn-primary" routerLink="/generate/samples" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">TAKE ME THERE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" height="200" width="300" src="../../assets/creative-commons-share.svg" alt="">
        <div class="card-body">
          <h4 class="card-title">Common Use Cases</h4>
          <p class="card-text">
            This component makes it easy to generate regular expressions for common use cases, such as email addresses, dates and time,
            passwords, credit card numbers, and many more use cases.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn nav-link btn-primary" routerLink="/generate/common" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">TAKE ME THERE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" height="200" width="300" src="../../assets/lightbulb.svg" alt="">
        <div class="card-body">
          <h4 class="card-title">Grammatical Inference</h4>
          <p class="card-text">
            This component exposes a grammatical inference library, which learns a formal grammar from a set of positive
            and negative example strings using induction.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn nav-link btn-primary" routerLink="/generate/induction" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">TAKE ME THERE</a>
        </div>
      </div>
    </div>

  </div>

</div>


<footer class="py-5 bg-grey">

  <div class="container">
    <p class="m-0 text-center">&copy; {{ getYear() }}, Steyn van Litsenborgh</p>
  </div>

</footer>
