body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.business-header {
  height: 50vh;
  min-height: 300px;
  background: url('../../assets/banner.svg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}

.full-width {
  margin-left: -33.33%;
  margin-right: -33.33%;
}

.text-link {
  color: #000000 !important;
  text-decoration: underline;
}
