<div class="content">

  <div class="btn-toolbar">

    <button type="button" class="btn btn-success" (click)="mark()">Mark</button>
    <a class="fa-vertical-bar-medium:after"></a>
    <span *ngIf="markedElements.length > 0" class="btn-separator"></span>

    <div *ngFor="let markedElement of markedElements; let idx = index">

      <button type="button" class="btn" [ngStyle]="setButtonColor(idx)">{{markedElement.id}}</button>

    </div>

  </div>

  <div class="row text-area">
    <div class="col-md-12" (mouseup)="showSelectedText()">
      <textarea [(ngModel)]="textArea" id="text-area" class="form-control" rows="8" placeholder="Sample text..."></textarea>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <label class="btn btn-outline-primary" for="my-file-selector">
        <input  id="my-file-selector" type="file" style="display:none;" (change)="fileChange($event)" accept=".txt">
        Upload file
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn" (click)="generateRegex()">Generate</button>
    </div>
  </div>

</div>
