<app-toast [message]="toast.message"></app-toast>

<div class="content">

  <div class="btn-toolbar">

    <button type="button" class="btn btn-success" (click)="mark()">Mark</button>
    <a class="fa-vertical-bar-medium:after"></a>
    <span *ngIf="markedElements.length > 0" class="btn-separator"></span>

    <div *ngFor="let markedElement of markedElements; let idx = index">

      <button type="button" class="btn" (click)="clickMarkButton(idx)" [ngStyle]="setButtonColor(idx)">{{markedElement.id}}</button>

    </div>

  </div>

  <div class="row text-area">

    <div class="col-md-12" (mouseup)="showSelectedText()">

      <textarea
        [(ngModel)]="textArea" id="text-area" class="form-control" rows="8" placeholder="Sample text..." >
      </textarea>

    </div>

  </div>
  <div class="row pad-upload-btn">
    <div class="col">
      <div class="right-allign">
        <label class="btn btn-outline-primary" for="my-file-selector">
          <input id="my-file-selector" type="file" style="display:none;" (change)="fileChange($event)" accept=".txt">
          Upload file
        </label>
      </div>

    </div>
  </div>

  <hr *ngIf="markedElements.length > 0" />

  <div *ngFor="let markedElement of markedElements; let idx = index">

    <div class="row">
      <div class="col field-specific" align="center">
        <h3><strong>{{markedElement.fieldType}}</strong></h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-2">
        <button type="button" class="btn btn-md" (click)="clickMarkButton(idx)"
                [ngStyle]="setButtonColor(idx)">{{markedElement.id}}</button>

        <button *ngIf="idx !== 0" type="button" class="btn btn-md" (click)="changeMarkerOrder('up', idx)">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button *ngIf="idx !== markedElements.length - 1" type="button" class="btn btn-md" (click)="changeMarkerOrder('down', idx)">
          <i class="fa fa-arrow-down"></i>
        </button>
      </div>

      <div class="col-md-5">
        <label>Field info:</label>
        <select class="form-control" [(ngModel)]="markedElement.fieldType" (ngModelChange)="markerInfoChanged()">

          <option>Marked text</option>
          <option>Basic characters</option>
          <option>Numbers</option>
        </select>
      </div>

      <div class="col-md-5">
        <label>Repeat:</label>
        <select class="form-control">

          <option>0 or more</option>
          <option>1</option>
          <option>2</option>
          <option>Unlimited</option>
        </select>
      </div>

    </div>

    <div class="info-pad" *ngIf="selectedMarkerIdx == idx">

      <app-marked-text-info
        *ngIf="markedElement.fieldType === 'Marked text'"
        [markedText]="markedText">
      </app-marked-text-info>


      <app-basic-characters-info
        *ngIf="markedElement.fieldType === 'Basic characters'"
        [basicCharacters]="basicCharacters">

      </app-basic-characters-info>

    </div>

    <hr />

  </div>

  <!--<div class="row">-->
  <!--<div class="col">-->
  <!--<button class="btn" [disabled]="textArea.trim() === ''" (click)="generateRegex()">Generate Regex</button>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--<div class="col text-center">-->
  <!--<h1 *ngIf="generatedRegex">{{generatedRegex}}</h1>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--<div class="col">-->
  <!--<button class="btn btn-primary" (click)="printStuff()">Log Info</button>-->
  <!--</div>-->
  <!--</div>-->

</div>
