<div class="content">

  <div class="btn-toolbar">

    <button type="button" class="btn btn-success" (click)="mark()">Mark</button>
    <a class="fa-vertical-bar-medium:after"></a>
    <span *ngIf="markedElements.length > 0" class="btn-separator"></span>

    <div *ngFor="let markedElement of markedElements; let idx = index">

      <button type="button" class="btn" (click)="clickMarkButton(idx)" [ngStyle]="setButtonColor(idx)">{{markedElement.id}}</button>

    </div>

  </div>

  <div class="row text-area">

    <div class="col-md-12" (mouseup)="showSelectedText()">

      <textarea
        [(ngModel)]="textArea" id="text-area" class="form-control" rows="8" placeholder="Sample text..." >
      </textarea>

    </div>

  </div>

  <div class="row pad-upload-btn">
    <div class="col">
      <label class="btn btn-outline-primary" for="my-file-selector">
        <input id="my-file-selector" type="file" style="display:none;" (change)="fileChange($event)" accept=".txt">
        Upload file
      </label>
    </div>
  </div>

  <hr />

  <div *ngFor="let markedElement of markedElements; let idx = index">

    <div class="row">

      <div class="col-md-2">
        <button type="button" class="btn btn-md" (click)="clickMarkButton(idx)"
                [ngStyle]="setButtonColor(idx)">{{markedElement.id}}</button>
      </div>

      <div class="col-md-5">
        <label>Field info:</label>
        <select class="form-control" [(ngModel)]="markedElement.fieldType" (ngModelChange)="markerInfoChanged()">

          <option>Marked text</option>
          <option>Basic characters</option>
          <option>Numbers</option>
        </select>
      </div>

      <div class="col-md-5">
        <label>Repeat:</label>
        <select class="form-control" (ngModelChange)="repeatInfoChanged()">

          <option>0 or more</option>
          <option>1</option>
          <option>2</option>
          <option>Unlimited</option>
        </select>
      </div>

    </div>

    <div *ngIf="selectedMarkerIdx == idx">

      <div class="row">
        <div class="col field-specific" align="center">
          <h1>{{markedElement.fieldType}}</h1>
        </div>
      </div>

      <div *ngIf="markedElement.fieldType == 'Marked text'">

        <div class="row">

          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                     [checked]="markedText.caseInsensitive"
                     (change)="markedText.caseInsensitive = !markedText.caseInsensitive">
              <label class="form-check-label">
                Case insensitive
              </label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                     [checked]="markedText.matchAllExceptSpecified"
                     (change)="markedText.matchAllExceptSpecified = !markedText.matchAllExceptSpecified">
              <label class="form-check-label">
                Match everything except specified text
              </label>
            </div>
          </div>

        </div>

      </div>

      <div *ngIf="markedElement.fieldType == 'Basic characters'">

        <div class="row">

          <div class="col-md-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                     [checked]="basicCharacters.lowerCaseLetters"
                     (change)="basicCharacters.lowerCaseLetters = !basicCharacters.lowerCaseLetters">
              <label class="form-check-label">
                Lowercase letters
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                     [checked]="basicCharacters.upperCaseLetters"
                     (change)="basicCharacters.upperCaseLetters = !basicCharacters.upperCaseLetters">
              <label class="form-check-label">
                Uppercase letters
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                     [checked]="basicCharacters.containsDigits"
                     (change)="basicCharacters.containsDigits = !basicCharacters.containsDigits">
              <label class="form-check-label">
                Digits
              </label>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"
                     [checked]="basicCharacters.matchAllExceptSpecified"
                     (change)="basicCharacters.matchAllExceptSpecified = !basicCharacters.matchAllExceptSpecified">
              <label class="form-check-label">
                Match everything except specified text
              </label>
            </div>
          </div>

        </div>

      </div>

    </div>

    <hr />

  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="printStuff()">Generate Regex</button>
    </div>
  </div>

  <!--<div class="row">-->
  <!--<div class="col">-->
  <!--<button class="btn" [disabled]="textArea.trim() === ''" (click)="generateRegex()">Generate Regex</button>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--<div class="col text-center">-->
  <!--<h1 *ngIf="generatedRegex">{{generatedRegex}}</h1>-->
  <!--</div>-->
  <!--</div>-->

</div>
