<div class="row">

  <div class="col-sm-6">
    <div class="form-group">
      <label for="min-value">Minimum value of integer part:</label>
      <input type="number" class="form-control" id="min-value" placeholder="" [(ngModel)]="numbers.minValOfIntPart"
      [ngClass]="{
        'is-invalid': !isValidIntegerParts()
        }"
      >
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label for="max-value">Maximum value of integer part:</label>
      <input type="number" class="form-control" id="max-value" placeholder="" [(ngModel)]="numbers.maxValOfIntPart"
      [ngClass]="{
        'is-invalid': !isValidIntegerParts()
        }"
      >
    </div>
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-6">
    <label for="decimal-separator">Decimal separator:</label>
    <select id="decimal-separator" class="form-control" [(ngModel)]="numbers.decimalSeparator">
      <option>Any</option>
      <option>Period</option>
      <option>Comma</option>
    </select>
  </div>

  <div class="col-sm-3">
    <label for="min-nr-of-decimals">Min. nr of decimals</label>
    <input id="min-nr-of-decimals" class="form-control" type="number" [(ngModel)]="numbers.minNrOfDecimals"
    [ngClass]="{
      'is-invalid': !isValidNrOfDecimals()
      }"
    >
  </div>

  <div class="col-sm-3">
    <label for="max-nr-of-decimals">Max. nr of decimals</label>
    <input id="max-nr-of-decimals" class="form-control" type="number" [(ngModel)]="numbers.maxNrOfDecimals"
    [ngClass]="{
      'is-invalid': !isValidNrOfDecimals()
      }"
    >
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-6">
    <label for="thousand-separator">Thousand separator:</label>
    <select id="thousand-separator" class="form-control" [(ngModel)]="numbers.thousandSeparator">
      <option>None</option>
      <option>Any</option>
      <option>Comma</option>
      <option>Quote</option>
      <option>Space</option>
    </select>
  </div>

  <div class="col-sm-6">
    <label for="code-position">Currency sign/code position:</label>
    <select id="code-position" class="form-control" [(ngModel)]="numbers.codePosition">
      <option>Before only</option>
      <option>After only</option>
      <option>Before or after</option>
    </select>
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-6">
    <label for="currency-sign">Currency sign:</label>
    <select id="currency-sign" class="form-control" [(ngModel)]="numbers.currencySign">
      <option>None</option>
      <option>Any</option>
      <option>Dollar</option>
      <option>Euro</option>
      <option>Yen</option>
      <option>Pound</option>
      <option>Universal</option>
    </select>
  </div>

  <div class="col-sm-6">
    <label for="currency-codes">Currency codes:</label>
    <input type="text" class="form-control"
           placeholder="Currency codes separated by semicolons"
           [(ngModel)]="numbers.currencyCodes">

  </div>

</div>

<div class="row move-down-2">

  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.limitIntegerPart"
               (change)="numbers.limitIntegerPart = !numbers.limitIntegerPart">
        Limit integer part
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.allowPlusSign"
               (change)="numbers.allowPlusSign = !numbers.allowPlusSign">
        Allow plus sign
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.allowMinusSign"
               (change)="numbers.allowMinusSign = !numbers.allowMinusSign">
        Allow minus sign
      </label>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.signIsRequired"
               (change)="numbers.signIsRequired = !numbers.signIsRequired">
        Sign is required
      </label>
    </div>
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.whitespaceAllowedAfterSign"
               (change)="numbers.whitespaceAllowedAfterSign = !numbers.whitespaceAllowedAfterSign">
        Whitespace allowed after sign
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.thousandSeparatorsAreRequired"
               (change)="numbers.thousandSeparatorsAreRequired = !numbers.thousandSeparatorsAreRequired">
        Thousand separators are required
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.allowLeadingZeros"
               (change)="numbers.allowLeadingZeros = !numbers.allowLeadingZeros">
        Allow leading zeros
      </label>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.requireIntegerPart"
               (change)="numbers.requireIntegerPart = !numbers.requireIntegerPart">
        Require integer part
      </label>
    </div>
  </div>

</div>

<div class="row move-down">

  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.allowExponent"
               (change)="numbers.allowExponent = !numbers.allowExponent">
        Allow exponent
      </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [checked]="numbers.currencySignOrCodeRequired"
               (change)="numbers.currencySignOrCodeRequired = !numbers.currencySignOrCodeRequired">
        Currency sign or code required
      </label>
    </div>
  </div>

</div>
