<app-toast [message]="toast.message"></app-toast>

<div class="content">

  <div class="row">

    <div class="col-sm-12">

      <div class="form-group">
        <label for="use-case"><strong>Select your common use case:</strong></label>
        <select id="use-case" class="form-control" [(ngModel)]="type">
          <option>Username</option>
          <option>Password</option>
          <option>Email address</option>
          <option>URL</option>
        </select>
      </div>
    </div>

  </div>

  <app-username-info
    *ngIf="type === 'Username'"
    [username]="username">
  </app-username-info>



  <div *ngIf="type !== undefined">

    <div class="card">
      <div class="card-header">
        <h4 class="text-center"><strong>General regular expression information</strong></h4>
      </div>
      <div class="card-body">
        <div class="row pad-down">

          <div class="col-sm-4">

            <div class="form-group">
              <label for="begin-regex-at">Start regex match at:</label>
              <select id="begin-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.startRegexMatchAt">
                <option>Anywhere</option>
                <option>Start of text</option>
                <option>Start of line</option>
                <option>Start of word</option>
                <option>Start of attempt</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4">

            <div class="form-group">
              <label for="end-regex-at">End regex match at:</label>
              <select id="end-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.endRegexMatchAt">
                <option>Anywhere</option>
                <option>End of text</option>
                <option>End of line</option>
                <option>End of word</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4">

            <div class="form-group">
              <label for="what-standard">Target language:</label>
              <select id="what-standard" class="form-control" [(ngModel)]="generalRegexInfo.regexTarget">
                <option>Java</option>
                <option>Perl</option>
                <option>POSIX</option>
              </select>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div *ngIf="type !== undefined">
    <br />

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-block btn-primary" (click)="generateRegex()">Generate Regex</button>
      </div>
    </div>

  </div>

  <div *ngIf="generatedRegex" class="pad-down">

    <div *ngIf="generalRegexInfo.regexTarget === 'Java'">
      <app-java-code-samples [regex]="generatedRegex"></app-java-code-samples>
    </div>
    <div *ngIf="generalRegexInfo.regexTarget === 'Perl'">
      <app-perl-code-samples [regex]="generatedRegex"></app-perl-code-samples>
    </div>

  </div>

</div>
