<app-toast [message]="toast.message"></app-toast>

<div class="content">

  <div class="row">

    <div class="col-sm-12">

      <div class="form-group">
        <label for="use-case"><strong>Select your common use case:</strong></label>
        <select id="use-case" class="form-control" [(ngModel)]="type">
          <option>Username</option>
          <option>Password</option>
          <option>Email address</option>
          <option>URL</option>
        </select>
      </div>
    </div>

  </div>

  <app-username-info
    *ngIf="type === 'Username'"
    [generalRegexInfo]="generalRegexInfo">
  </app-username-info>

  <app-password-info
    *ngIf="type === 'Password'"
    [generalRegexInfo]="generalRegexInfo">
  </app-password-info>

</div>
