<app-toast [message]="toast.message"></app-toast>

<div class="content">

  <div class="row">

    <div class="col-sm-12">

      <div class="form-group">
        <label for="use-case"><strong>Select your common use case:</strong></label>
        <select id="use-case" class="form-control" [(ngModel)]="type">
          <option>Credit card number</option>
          <option>Date and time</option>
          <option>Email address</option>
          <option>GUID</option>
          <option>Password</option>
          <option>URL</option>
          <option>Username</option>
          <option>VAT number</option>
        </select>
      </div>
    </div>

  </div>

  <app-username-info
    *ngIf="type === 'Username'"
    [generalRegexInfo]="generalRegexInfo">
  </app-username-info>

  <app-password-info
    *ngIf="type === 'Password'"
    [generalRegexInfo]="generalRegexInfo">
  </app-password-info>

  <app-email-info
    *ngIf="type === 'Email address'"
    [generalRegexInfo]="generalRegexInfo">
  </app-email-info>

  <app-url-info
    *ngIf="type === 'URL'"
    [generalRegexInfo]="generalRegexInfo">
  </app-url-info>

  <app-credit-card-info
    *ngIf="type === 'Credit card number'"
    [generalRegexInfo]="generalRegexInfo">
  </app-credit-card-info>

  <app-vat-number-info
    *ngIf="type === 'VAT number'"
    [generalRegexInfo]="generalRegexInfo">
  </app-vat-number-info>

  <app-date-and-time-info
    *ngIf="type === 'Date and time'"
    [generalRegexInfo]="generalRegexInfo">
  </app-date-and-time-info>

  <app-guid-info
    *ngIf="type === 'GUID'"
    [generalRegexInfo]="generalRegexInfo">
  </app-guid-info>

</div>
