<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>IPv4 address</strong></h4>
  </div>
  <div class="card-body">

    <div class="row">

      <div class="col-sm-12 text-center">
        <h5><strong>Allowed IPv4 notations</strong></h5>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="ipv4Address.dotted"
                   (change)="ipv4Address.dotted = !ipv4Address.dotted">
            Dotted 192.168.0.1
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="ipv4Address.decimal"
                   (change)="ipv4Address.decimal = !ipv4Address.decimal">
            Decimal 3232235521
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   [checked]="ipv4Address.hexadecimal1"
                   (change)="ipv4Address.hexadecimal1 = !ipv4Address.hexadecimal1">
            Hexadecimal C0A8000
          </label>
        </div>
      </div>

    </div>

    <div class="row move-down">

      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
            [checked]="ipv4Address.hexadecimal2"
            (change)="ipv4Address.hexadecimal2 = !ipv4Address.hexadecimal2">
            Hexadecimal C0A80001h
          </label>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
            [checked]="ipv4Address.hexadecimal3"
            (change)="ipv4Address.hexadecimal3 = !ipv4Address.hexadecimal3">
            Hexadecimal 0xC0A80001
          </label>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="card">
  <div class="card-header">
    <h4 class="text-center"><strong>General regular expression information</strong></h4>
  </div>
  <div class="card-body">
    <div class="row pad-down">

      <div class="col-sm-4">

        <div class="form-group">
          <label for="begin-regex-at">Start regex match at:</label>
          <select id="begin-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.startRegexMatchAt">
            <option>Anywhere</option>
            <option>Start of text</option>
            <option>Start of line</option>
            <option>Start of word</option>
            <option>Start of attempt</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">

        <div class="form-group">
          <label for="end-regex-at">End regex match at:</label>
          <select id="end-regex-at" class="form-control" [(ngModel)]="generalRegexInfo.endRegexMatchAt">
            <option>Anywhere</option>
            <option>End of text</option>
            <option>End of line</option>
            <option>End of word</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">

        <div class="form-group">
          <label for="what-standard">Target language:</label>
          <select id="what-standard" class="form-control" [(ngModel)]="generalRegexInfo.regexTarget">
            <option>Java</option>
            <option>Perl</option>
            <option>POSIX</option>
            <option>Python</option>
            <option>JavaScript</option>
            <option>PHP</option>
            <option>Golang</option>
            <option>Rust</option>
            <option>C#</option>
            <option>Scala</option>
            <option>Kotlin</option>
          </select>
        </div>
      </div>

    </div>
  </div>
</div>


<br />

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-block btn-primary" (click)="generateRegex()">Generate Regex</button>
  </div>
</div>

<div *ngIf="generatedRegex === undefined">
  <br />
</div>

<div *ngIf="isLoading">
  <br />

  <div class="row">
    <div class="col-sm-12 text-center">
      <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
  </div>

  <br />
</div>

<div *ngIf="generatedRegex !== undefined">

  <br />
  <br />

  <div class="row">
    <div class="col">
      <label for="regex"><strong>Your {{ generalRegexInfo.regexTarget }} regular expression</strong></label>
    </div>
  </div>

  <div class="row">

    <div class="col">

      <div class="input-group">
        <input type="text" class="form-control" id="regex" [(ngModel)]="generatedRegex.compiledRegex">
        <span class="input-group-btn">
        <button class="btn btn-default" ngxClipboard [cbContent]="generatedRegex.compiledRegex" (click)="clickCopyToClipboard()"
                data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard"
                type="button"><i class="fa fa-clipboard"></i>
        </button>
        </span>
      </div>

    </div>

  </div>

</div>

<div *ngIf="generatedRegex" class="pad-down">

  <br />
  <br />

  <div *ngIf="generalRegexInfo.regexTarget === 'Java'">
    <app-java-code-samples [generatedRegex]="generatedRegex"></app-java-code-samples>
  </div>
  <div *ngIf="generalRegexInfo.regexTarget === 'Perl'">
    <app-perl-code-samples [generatedRegex]="generatedRegex"></app-perl-code-samples>
  </div>

</div>
